= render :partial => 'shared/errors', :locals => { :object => @interview }
= interview_form.hidden_field :candidate_id
.field
  .label
    = interview_form.label "Candidate:"
  .control
    = interview_form.label @interview.candidate.name unless @interview.candidate.nil?
.spacer
.field
  .label
    = interview_form.label "When:"
  .control
    = interview_form.datetime_select :starts_at, :date_separator => '/', :time_separator => ':'
    (date and time when interview is schedule)
.field
  .label
    = interview_form.label "Duration:"
  .control
    = interview_form.select(:duration, options_for_select([['15 minutes', '15'],['30 minutes', '30'], ['1 hr', '60'], ['1 hr 30 min', '90']], @interview.duration || '60'))
.field
  .label
    = interview_form.label "Type: "
  .control
    = interview_form.select(:interview_type, options_for_select([['Screening', 'Screening'], ['Telephonic', 'Telephonic'], ['Code Review', 'Code Review'], ['Code Pairing', 'Code Pairing'], ['Office', 'Office'], ['Casual Meeting', 'Casual Meeting'] ], @interview.interview_type || 'Office'))
.field
  .label
    = interview_form.label "Where:"
  .control
  = interview_form.text_field :where, :size => 20
  (room where interview is scheduled)
.spacer
.field
  .label
    = interview_form.label "Interviewer Panel:"
  .control
    = interview_form.text_field :interviewer_one
    = interview_form.text_field :interviewer_two
    = interview_form.text_field :interviewer_three
.field
  .label
    = interview_form.label "Interview Notes:"
  .control
    = interview_form.text_area :notes, :cols => 100, :row => 5 
.spacer
.field
  .label
    = interview_form.label "Result:"
  .control
    = interview_form.select(:result, options_for_select([['', ''], ['Pass', 'Pass'], ['Pursue', 'Pursue'], ["Can't Say", "Can't Say"]], @interview.result || ''))
