%h2 Listing interviews
%table
  %tr
    %th when
    %th.alt_col type
    %th interviewer
    %th.alt_col where
    %th result
    %th
  - @candidate.interviews.each do |interview|
    %tr
      %td= interview.starts_at.strftime("%d/%m/%Y at %I:%M%p")
      %td.alt_col= interview.interview_type
      %td= [interview.interviewer_one, interview.interviewer_two, interview.interviewer_three].compact.join(", ")
      %td.alt_col= interview.where
      %td= interview.result
      %td
        = link_to 'Edit Interview', edit_candidate_interview_path(interview), :class => "small"
        = link_to 'Delete', candidate_interview_path(@candidate.id, interview.id), :confirm => 'Are you sure?', :method => :delete, :class => "small secondary"