.left
  = link_to "<< Previous Week", calendar_url(:start_date => @start_date - 7.days), :class => "button"
  = link_to "Next Week >>", calendar_url(:start_date => @start_date + 7.days), :class => "button"
.right
  = link_to "Business Hours", calendar_url(:start_date => @start_date, :business_hours => 'true'), :class => "button"
  = link_to "24-Hours", calendar_url(:start_date => @start_date, :business_hours => 'false'), :class => "button"
.spacer  
- options = build_options

#week
  #days
    #placeholder
      %b Weekly Schedule
    - for day in @start_date..@end_date
      #day
        %b
          = day.strftime('%A')
        %br  
        = day.strftime('%B %d')
  #hours
    %div{:id => options[:header_row]}
      - for hour in options[:hours]
        #header_box
          %b
            = hour
    %div{:id => options[:grid]}
      - for day in @start_date..@end_date
        %div{:id => options[:day_row]}
          - for interview in @interviews
            - if interview.starts_at.strftime('%j').to_s == day.strftime('%j').to_s
              - if interview.starts_at.strftime('%H').to_i >= options[:start_hour] and interview.ends_at.strftime('%H').to_i <= options[:end_hour]
                .week_event{:class => "#{sanitize(interview.interview_type)}",:style =>"left:#{left(interview.starts_at,params[:business_hours])}px;width:#{width(interview.starts_at,interview.ends_at)}px;margin-top:#{margin_top(interview)}px", :title => interview.short_desc}
                  = interview.candidate.name

.legends
  .left Legends:
  .screening.left Screening
  .office.left Office
  .telephonic.left Telephonic
  .casual_meeting.left Casual Meeting
  .code_pairing.left Code Pairing
