= form_for(@candidate) do |f|
  - if @candidate.errors.any?
    .error
      %h3
        = pluralize(@candidate.errors.count, "error")
        prohibited this candidate from being saved:
      %ul
        - @candidate.errors.full_messages.each do |msg|
          %li= msg
  .field
    .label
      = f.label "Name:"
    .control
      = f.text_field :name
  .field
    .label
      = f.label "Email address:"
    .control
      = f.text_field :email
  .field
    .label
      = f.label "Role:"
    .control
      = f.select(:role, options_for_select([['Project Manager', 'Project Manager'], ['Developer', 'Developer'], ['Business Analys', 'Business Analyst'], ['Quality Analyst', 'Quality Analyst']], @candidate.role))
  .field
    .label
      = f.label "Position:"
    .control
      = f.select(:position, options_for_select([['Consultant', 'Consultant'], ['Sr. Consultant', 'Sr. Consultant'], ['Lead Consultant', 'Lead Consultant'], ['Principle Consultant', 'Principle Consultant'], ['Contractor', 'Contractor']], @candidate.position))
  .field
    .label
      = f.label "Work experience:"
    .control
      = f.text_field :experience, :size => 4, :maxlength => 3
      (in years)
  .field
    .label
      = f.label "Cordinator:"
    .control
      = f.text_field :coordinator
      (recruitment team member who is following up with the candidate)
  .field
    .label
      = f.label "City:"
    .control
      = f.text_field :city, :size => 20
      (from where the candidate is)
  .field
    .label
      = f.label "Skills:"
    .control
      = f.text_field :skills, :size => 70
      (comma seperated skill sets)
  .field
    .label
      = f.label "Office"
    .control
      = f.select(:office, options_for_select([['Pune', 'Pune'], ['Bangalore', 'Bangalore'], ['Chennai', 'Chennai'], ['Delhi', 'Delhi']], @candidate.office))
  .field
    .label
      = f.label "Contact number:"
    .control
      = f.text_field :contact_number
  .field
    .label
      = f.label "Status:"
    .control
      = f.select(:status, options_for_select([['Open', 'Open'], ['In Progress', 'In Progress'], ['On Hold', 'On Hold'], ['Pass', 'Pass'], ['Pursue', 'Pursue'], ['Closed', 'Closed']], @candidate.status))
  .actions
    = f.submit(:class => "submit")
    = link_to 'Cancel', candidates_path('filter[status]' => 'In Progress'), :class => "secondary"
    