= form_for(@candidate) do |f|
  - if @candidate.errors.any?
    #errorExplanation
      %h2
        = pluralize(@candidate.errors.count, "error")
        prohibited this candidate from being saved:
      %ul
        - @candidate.errors.full_messages.each do |msg|
          %li= msg
  .field
    .label
      = f.label :name
    .control
      = f.text_field :name
  .field
    .label
      = f.label :email
    .control
      = f.text_field :email
  .field
    .label
      = f.label :role
    .control
      = f.select(:role, options_for_select([['Project Manager', 'Project Manager'], ['Developer', 'Developer'], ['Business Analys', 'Business Analyst'], ['Quality Analyst', 'Quality Analyst']], @candidate.role))
  .field
    .label
      = f.label :position
    .control
      = f.select(:position, options_for_select([['Consultant', 'Consultant'], ['Sr. Consultant', 'Sr. Consultant'], ['Lead Consultant', 'Lead Consultant'], ['Principle Consultant', 'Principle Consultant'], ['Contractor', 'Contractor']], @candidate.position))
  .field
    .label
      = f.label :experience
    .control
      = f.text_field :experience, :size => 3, :max_length => 5
  .field
    .label
      = f.label :coordinator
    .control
      = f.text_field :coordinator
  .field
    .label
      = f.label :city
    .control
      = f.text_field :city
  .field
    .label
      = f.label :office
    .control
      = f.select(:office, options_for_select([['Pune', 'Pune'], ['Bangalore', 'Bangalore'], ['Chennai', 'Chennai'], ['Delhi', 'Delhi']], @candidate.office))
  .field
    .label
      = f.label :contact_number
    .control
      = f.text_field :contact_number
  .field
    .label
      = f.label :status
    .control
      = f.select(:status, options_for_select([['Open', 'Open'], ['In Progress', 'In Progress'], ['On Hold', 'On Hold'], ['Pass', 'Pass'], ['Pursue', 'Pursue'], ['Closed', 'Closed']], @candidate.status))
  .actions
    = f.submit
    