= form_for(@candidate) do |f|
  = render 'shared/errors'
  .field
    .label
      = f.label "Name:"
    .control
      = f.text_field :name
  .field
    .label
      = f.label "Email address:"
    .control
      = f.text_field :email
  .field
    .label
      = f.label "Role:"
    .control
      = f.select(:role, options_for_select([['Project Manager', 'Project Manager'], ['Developer', 'Developer'], ['Business Analys', 'Business Analyst'], ['Quality Analyst', 'Quality Analyst'], ['UI Dev', 'UI Dev'],['UX Designer', 'UX Designer'], ['Other', 'Other']], @candidate.role))
  .field
    .label
      = f.label "Position:"
    .control
      = f.select(:position, options_for_select([['Consultant', 'Consultant'], ['Sr. Consultant', 'Sr. Consultant'], ['Lead Consultant', 'Lead Consultant'], ['Principle Consultant', 'Principle Consultant'], ['Contractor', 'Contractor'], ['Other', 'Other']], @candidate.position))
  .field
    .label
      = f.label "Work experience:"
    .control
      = f.text_field :experience, :size => 6, :maxlength => 5
      (in years)
  .field
    .label
      = f.label "Cordinator:"
    .control
      = f.text_field :coordinator
      (recruitment team member who is following up with the candidate)
  .field
    .label
      = f.label "Source:"
    .control
      = f.text_field :source
      (source of candidate category:name e.g. protals:naukari)
  .field
    .label
      = f.label "City:"
    .control
      = f.text_field :city, :size => 20
      (from where the candidate is)
  .field
    .label
      = f.label "Skills:"
    .control
      = f.text_field :skills, :size => 70
      (comma seperated skill sets)
  .field
    .label
      = f.label "Office:"
    .control
      = f.select(:office, options_for_select([['Pune', 'Pune'], ['Bangalore', 'Bangalore'], ['Chennai', 'Chennai'], ['Delhi', 'Delhi']], @candidate.office))
  .field
    .label
      = f.label "Contact number:"
    .control
      = f.text_field :contact_number
  .field
    .label
      = f.label "Status:"
    .control
      = f.select(:status, options_for_select([['Open', 'Open'], ['In Progress', 'In Progress'], ['On Hold', 'On Hold'], ['Pass', 'Pass'], ['Pursue', 'Pursue'], ['Closed', 'Closed']], @candidate.status))
  .field
    .label
      = f.label "In Progress Status:"
    .control
      = f.select(:inprogress_status, options_for_select([['', ''],['Screening', 'Screening'], ['Code Sent', 'Code Sent'], ['Code Review Unassigned', 'Code Review Unassigned'], ['Code Review Pending', 'Code Review Pending'], ['Telephonic Interview', 'Telephonic Interview'], ['Office Interview', 'Office Interview'], ['Make Offer', 'Make Offer'], ['Offer Accepted', 'Offer Accepted'], ['Hired', 'Hired'], ['Offer Declined', 'Offer Declined']], @candidate.inprogress_status || ''))
  .field
    .label
      = f.label "Offer Decline Reason:"
    .control
      = f.text_field :decline_reason, :size => 70
  .actions
    = f.submit(:class => "submit")
    = link_to 'Cancel', candidates_path('filter[status]' => 'In Progress'), :class => "secondary"
    