%h1.left Listing candidates
.right
  (max 50 records)
  %b by
  = params[:filter].each.collect { |key, value| "#{key}: #{value}"}.join(", ") unless params[:filter].nil?
%table
  %tr
    %th name
    %th.alt_col email
    %th exp
    %th.alt_col role, position
    %th skills
    %th.alt_col coordinator
    %th contact_number
    %th.alt_col status, inprogress_status
    %th
  - @candidates.each do |candidate|
    %tr
      %td= candidate.name
      %td.alt_col= candidate.email
      %td= "#{candidate.experience} yrs"
      %td.alt_col= "#{candidate.role}, #{candidate.position}"
      %td= candidate.skills
      %td.alt_col= candidate.coordinator
      %td= candidate.contact_number
      %td.alt_col= "#{candidate.status}, #{candidate.inprogress_status}"
      %td
        = link_to 'Show', candidate, :class => "button small"
        = link_to 'Edit', edit_candidate_path(candidate), :class => "button small"
        = link_to 'Schedule Interview', new_candidate_interview_path(:candidate_id => candidate.id), :class => "button small"
        = link_to 'Delete', candidate, :confirm => 'Are you sure?', :method => :delete, :class => "button small secondary"

