- unless notice.nil?
  %p.notice
    = notice
.right
  = link_to 'Edit Candidate', edit_candidate_path(@candidate), :class => "button"
  = link_to 'Schedule Interview', new_candidate_interview_path(:candidate_id => @candidate.id), :class => "button"
.field
  .label
    %b Name:
  .value
    = @candidate.name
.field
  .label
    %b Email:
  .value
    = @candidate.email
.field
  .label
    %b Role:
  .value
    = @candidate.role
.field
  .label
    %b Position:
  .value
    = @candidate.position
.field
  .label
    %b Experience:
  .value
    = @candidate.experience
.field
  .label
    %b Skills:
  .value
    = @candidate.skills
.field
  .label
    %b Coordinator:
  .value
    = @candidate.coordinator
.field
  .label
    %b Source:
  .value
    = @candidate.source
.field
  .label
    %b City:
  .value
    = @candidate.city
.field
  .label
    %b Office:
  .value
    = @candidate.office
.field
  .label
    %b Contact number:
  .value
    = @candidate.contact_number
.field
  .label
    %b Status:
  .value
    = @candidate.status
.field
  .label
    %b In Progress Status:
  .value
    = @candidate.inprogress_status
.field
  .label
    %b Offer Decline Reason
  .value
    = @candidate.decline_reason
.spacer    
= render 'interviews/index', :locals => { :interviews => @candidate.interviews }
