!!! Strict
%html{:lang => "en"}
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}/
    %title RecruitMe - ThoughtWorks Recruiting
    = stylesheet_link_tag 'reset-min','screen', 'nav', 'form', 'weekly'
    = javascript_include_tag 'jquery.min', 'rails'
  %body
    #wrap
      #header
        .title RecruitMe
      #nav
        %ul
          %li
            %a.button{:href => new_candidate_path} New Candidate
          %li
            %a.button{:href => calendar_url} Interview Schedule
          %li.right
            .left.search
              %form{:action => candidates_path}
                %input{:name => 'filter[name]', :size => 30, :accesskey => "S"}
                %input{:type => "submit", :value => 'Search Candidate', :class => "button"}
      #main
        = yield
      #footer
        %div
          search fav bar:
        = link_to "All", candidates_path
        = link_to "In Progress", candidates_path('filter[status]' => 'In Progress')
        = link_to "Closed after Screening", candidates_path('filter[status]' => 'Closed', 'filter[inprogress_status]' => 'Screening')
        = link_to "Delhi office", candidates_path('filter[office]' => 'Delhi')
        = link_to "Awaiting Telephonic", candidates_path('filter[status]' => 'In Progress', 'filter[inprogress_status]' => 'Code Review Pending')